<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<div class="container">
  <div style="background-color: rgb(8, 144, 162);" class="row">
          <img style="max-height: 50px; max-width: 50px;" src="https://cdn-icons-png.flaticon.com/512/732/732228.png" alt="Series">

      <h1>TV Series</h1>

  </div>
  <div class="row">
      <div class="col">
          <div class="card">
              <table class="table">
                  <thead class="thead">
                    <tr>
                          <th>#</th>
                          <th>Name</th>
                          <th>Channel</th>
                          <th>Seasons</th>
                      </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let s of series">
                      <td>
                        <dd>{{ s.id }}</dd>
                      </td>
                      <td>
                        <dd>{{ s.name }}</dd>
                      </td>
                      <td>
                        <dd>{{ s.channel }}</dd>
                      </td>
                      <td>
                        <dd>{{ s.seasons }}</dd>
                      </td>
                    </tr>
                  </tbody>
              </table>
      <div class="col"></div>
</div>
<tr> Seasons average: {{seasonAverage}}</tr>
